<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="card-wrapper">
    <h3 class='card-title'><%= t(".title_#{resource.state}") %></h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'card-content' }) do |f| %>
      <div class="col-xs-12"><%= f.error_notification %></div>
      <div class='flex-title'>
        <h4 class='card-sub-titles'><%= t('.profile_settings') %></h4>
        <%= f.input :language, collection: [['En', 'en'], ['Fr', 'fr']], include_blank: false, label: false, wrapper_html: {id:'language', class: ''}, input_html: {} %>
      </div>
      <div class="form-inputs row">
        <%= f.input :email, required: true, autofocus: true,  wrapper_html: {class: 'col-xs-12'} %>
        <%= f.input :password, autocomplete: "off", required: password_required?(resource), hint: t(".leave_blank_if_you_don_t_want_to_change_it"), wrapper_html: {class: 'col-xs-12 col-md-6'} %>
        <%= f.input :password_confirmation, required: password_required?(resource),  wrapper_html: {class: 'col-xs-12 col-md-6'} %>
        <% if resource.state == 'registered' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
          <% end %>

            <%= f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true, wrapper_html: {class: 'col-xs-12'} %>
        <% end %>
      </div>

      <% if @user.state == 'registered' %>
        <h4 class='card-sub-titles'><%= t('devise.registrations.edit.profile_basics') %></h4>
        <div class="form-inputs row">
          <%= f.input :first_name, wrapper_html: {class: 'col-xs-12 col-md-6'} %>
          <%= f.input :last_name, wrapper_html: {class: 'col-xs-12 col-md-6'} %>
          <%= f.input :location, wrapper_html: {class: 'col-xs-12 col-md-6'} %>
          <%= f.input :job_title, wrapper_html: {class: 'col-xs-12 col-md-6'} %>
          <%= f.input :phone_number, wrapper_html: {class: 'col-xs-12 col-md-6'} %>
          <%= f.input :company, wrapper_html: {class: 'col-xs-12 col-md-6'} %>
          <%= f.association :industry, collection: Industry.all.order(:name), wrapper_html: {class: 'col-xs-12 col-md-6'}, input_html: {class: 'select2-no-add'} %>
        </div>
      <% end %>

      <h4 class='card-sub-titles'><%= t('devise.registrations.edit.looking_for') %></h4>
      <div class="form-inputs flex-row col-xs-12">

        <%= f.input :publish_for_myself, as: :boolean, wrapper_html: {class: 'icon-selector'}, label: content_tag(:i, content_tag(:div, User.human_attribute_name('publish_for_myself')), class: 'btn btn-round fa fa-user') %>
        <%= f.input :publish_for_others, as: :boolean, wrapper_html: {class: 'icon-selector'}, label: content_tag(:i, content_tag(:div, User.human_attribute_name('publish_for_others')), class: 'btn btn-round fa fa-share-alt') %>
        <%= f.input :get_clients, as: :boolean, wrapper_html: {class: 'icon-selector'}, label: content_tag(:i, content_tag(:div, User.human_attribute_name('get_clients')), class: 'btn btn-round fa fa-handshake-o') %>
      </div>

      <h4 class='card-sub-titles'><%= User.human_attribute_name('prospect_area_ids').capitalize %></h4>
      <div class="form-inputs row">
        <%= f.error :zones, class: 'col-xs-12' %>
        <%= f.input :prospect_area_ids, required: true, collection: prospect_areas_collection,
            label_method: :name, value_method: :id, label: false, hint: t('simple_form.autocomplete.hint'),
            wrapper_html: {class: 'col-xs-12'}, input_html: {class: 'select2', multiple: true, "data-placeholder" => t('devise.registrations.edit.prospect_areas_placeholder')} %>
      </div>
      <!-- <h4 class='card-sub-titles'><%#= User.human_attribute_name('industry_subcategory_ids').capitalize %></h4>
      <div class="form-inputs row">
        <%#= f.error :zones, class: 'col-xs-12' %>
        <%#= f.input :industry_subcategory_ids, required: true, collection: industry_subies_collection,
            label_method: :name, value_method: :id, label: false, hint: t('simple_form.autocomplete.hint'),
            wrapper_html: {class: 'col-xs-12'}, input_html: {class: 'select2', multiple: true, "data-placeholder" => t('devise.registrations.edit.subcategories_placeholder')} %>
      </div> -->
      <h4 class='card-sub-titles'><%= User.human_attribute_name('tag_ids').capitalize %></h4>
      <div class="form-inputs row">
        <%= f.error :taggings, class: 'col-xs-12' %>
        <%= f.input :tag_ids, collection: user_tags_collection, label_method: :name,
            value_method: :id, label: false, hint: t('simple_form.autocomplete.hint'),
            wrapper_html: {class: 'col-xs-12'}, input_html: {class: 'select2', multiple: true, "data-placeholder" => t('devise.registrations.edit.tags_placeholder')} %>
      </div>

      <div class="form-inputs row">
        <div class="col-xs-12">
          <%= f.input :nl_subscription, label: t('.nl_subscription_message'), required: false, wrapper_html: { class: 'xs-sz' } %>
          <%= f.input :accepts_tos, label: t('.tos_agreement_message_html', href: asset_path("get_a_lead_gu_#{I18n.locale}.pdf")), required: true, wrapper_html: { class: 'xs-sz' } %>
          </div>
      </div>
      <div class="form-actions row">
        <div class="col-xs-12">
          <%= f.button :submit, t(".submit"), id: 'btn-user-update', class: 'btn-success' %>
          <% if current_user.state == 'registered' %>
            <p><%#= t(".unhappy") %><%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: 'btn-user-destroy', class: 'xs-sz' %></p>
            <%= link_to t("devise.shared.links.back"), :back, class: 'xs-sz' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- <h3><%#= t(".cancel_my_account") %></h3> -->

  </div>
</div>
