<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="card-wrapper">
    <!-- <h3 class='card-title'><%#= t(".sign_up") %></h3> -->

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'card-content no-title'}) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="row text-center">
          <%= image_tag 'logo_beta.svg', class: 'img-responsive', alt: 'logo get a lead', id:'logo' %>
        </div>

        <div class="row">
          <h4 class='card-sub-titles text-center'><%= t('.welcome') %></h4>
          <p class='col-xs-12 text-center'><%= t('.signup_guidelines') %></p>
        </div><br>

        <div class="row">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <div class='omniauth-btn-container text-center col-xs-12'>
                <%#= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-social btn-#{provider}", id: "btn-user-#{provider}-connect#{gtm_suffix_link}" do %>
                <%#= link_to omniauth_authorize_path(resource_name, provider, accepts_tos: false, nl_subscription: false  ), class: "btn btn-social btn-#{provider}", id: "btn-user-#{provider}-connect#{gtm_suffix_link}" do %>
                  <!-- <span class="fa fa-<%#= provider.to_s %>"></span> <%#= t('devise.shared.links.sign_in_with_provider', provider: "#{OmniAuth::Utils.camelize(provider)}") %> -->
                <%# end -%>
                <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-social btn-#{provider} btn-round", id: "btn-user-#{provider}-connect#{gtm_suffix_link}" do %>
                  <i class="fa fa-<%= provider.to_s %>"></i> <span class='text'><%= t('devise.shared.links.sign_in_with_provider', provider: "#{OmniAuth::Utils.camelize(provider)}") %></span>
                <% end %>
              </div>
            <% end -%>
          <% end -%>
        </div><br>

        <div class="row">
          <h4 class='card-sub-titles text-center'><%= t('.why_linkedin_title') %></h4>
          <p class='col-xs-12 text-center'><%= t('.why_linkedin') %></p>
        </div>
        <%#= f.input :email, required: true, autofocus: true %>
        <%#= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%#= f.input :password_confirmation, required: true %>
        <!-- <p class='help-block col-xs-12' style='margin-top:-5px;'><%#= t(".tos_agreement_message") %></p> -->
      </div>

      <div class="form-actions col-xs-12">
        <%#= f.button :submit, t(".sign_up"), id: 'btn-user-signup' %>
        <%#= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
