<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="card-wrapper">
    <h3 class='card-title text-center'><%= t('.new_title', default: "Create your lead") %></h3>
    <%= simple_form_for @lead, url: wizard_path(@step, {lead_id: @lead.id}), method: :put, html: {class: 'card-content'} do |f| %>
      <div class="inside-card row" cf-context>
        <%= f.error_notification %>
        <%= yield f %>
      <div class="col-xs-12 text-right">
        <!-- <p><%#= t('.price', default: "Price") %> <%#= @lead.price %> €</p> -->
        <% if @step != self.assigns['wizard_steps'][0] %>
          <%= link_to t('.back'), previous_wizard_path, class: 'btn btn-round' %>
        <% end %>
        <%= f.submit t('.submit'), class: "btn btn-success", id:'btn-lead-create' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
