<%= render layout: 'form' do |f| %>
  <!-- Contact -->
  <h4 class='card-sub-titles col-xs-12'><%= t('.contact_title', default: 'Contact') %></h4>
  <%= f.input :last_name, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :first_name, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :mail, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :phone, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :job_title, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {} %>
  <% if @lead.for_my_self %>
    <%= f.input :offer_limit, collection: Lead::LIMITS, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {min: 1, value: @lead.offer_limit || 1}, selected: 'Tous' %>
  <% else %>
    <br>
    <%= f.input :is_private, wrapper_html: {class: 'col-xs-12 col-sm-12'}, label_html: {rel: "popover", data: {toggle: 'popover', trigger: 'hover', content: t('.popover_is_private'), container: 'body', placement: 'top' }}, label: t('.is_private_with_icon_html') %>
  <% end %>
<% end %>
