<%= render layout: 'form' do |f| %>
  <!-- Contact -->
  <h4 class='card-sub-titles col-xs-12'><%= t('.contact_title', default: 'Contact') %></h4>
  <%= f.input :last_name, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :first_name, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :mail, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :phone, wrapper_html: {class: 'col-xs-12 col-sm-6'}, input_html: {} %>
  <%= f.input :job_title, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {} %>
  <br>
  <%= f.input :is_private, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {} %>
<% end %>
