<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="card-wrapper">
    <h3 class='card-title'><%= t("devise.registrations.edit.title_#{@user.state}") %></h3>

    <%= simple_form_for(@user, url: update_password_user_path, html: { method: :put, class: 'card-content' }) do |f| %>
      <%= f.input :language, collection: [['En', 'en'], ['Fr', 'fr']], include_blank: false, label: false, wrapper_html: {id:'language', class: 'col-xs-3 col-xs-offset-9'}, input_html: {} %>
      <div class="col-xs-12"><%= f.error_notification %></div>
      <h4 class='card-sub-titles col-xs-12'><%= t('devise.registrations.edit.profile_settings') %></h4>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true,  wrapper_html: {class: 'col-xs-12'} %>
        <%= f.input :password, autocomplete: "off", required: password_required?(@user), wrapper_html: {class: 'col-xs-6'} %>
        <%= f.input :password_confirmation, required: password_required?(@user),  wrapper_html: {class: 'col-xs-6'} %>
        <% if @user.state == 'registered' %>
          <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
            <p><%= t("devise.registrations.edit.currently_waiting_confirmation_for_email", email: @user.unconfirmed_email) %></p>
          <% end %>

            <%= f.input :current_password, hint: t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes"), required: true, wrapper_html: {class: 'col-xs-12'} %>
        <% end %>
      </div>

      <% if @user.state == 'registered' %>
        <h4 class='card-sub-titles col-xs-12'>t('devise.registrations.edit.profile_basics') %></h4>
        <div class="form-inputs">
          <%= f.input :first_name, wrapper_html: {class: 'col-xs-6'} %>
          <%= f.input :last_name, wrapper_html: {class: 'col-xs-6'} %>
          <%= f.input :location, wrapper_html: {class: 'col-xs-6'} %>
          <%= f.input :job_title, wrapper_html: {class: 'col-xs-6'} %>
          <%= f.input :phone_number, wrapper_html: {class: 'col-xs-6'} %>
          <%= f.input :company, wrapper_html: {class: 'col-xs-6'} %>
          <%= f.association :industry, collection: Industry.all.order(:name), wrapper_html: {class: 'col-xs-6'}, input_html: {class: 'select2'} %>
        </div>
      <% end %>

      <h4 class='card-sub-titles col-xs-12'><%= User.human_attribute_name('prospect_area_ids').capitalize %></h4>
      <div class="form-inputs">
        <%= f.input :prospect_area_ids, required: true, collection: prospect_areas_collection, label_method: :name, value_method: :id, label: false, place_holder: 'coucou', wrapper_html: {class: 'col-xs-12'}, input_html: {class: 'select2', multiple: true, "data-placeholder" => t('devise.registrations.edit.prospect_areas_placeholder')} %>
      </div>
      <h4 class='card-sub-titles col-xs-12'><%= User.human_attribute_name('industry_subcategory_ids').capitalize %></h4>
      <div class="form-inputs">
        <%= f.input :industry_subcategory_ids, required: true, collection: industry_subies_collection, label_method: :name, value_method: :id, label: false, place_holder: 'couco', wrapper_html: {class: 'col-xs-12'}, input_html: {class: 'select2', multiple: true, "data-placeholder" => t('devise.registrations.edit.subcategories_placeholder')} %>
      </div>
      <h4 class='card-sub-titles col-xs-12'><%= User.human_attribute_name('tag_ids').capitalize %></h4>
      <div class="form-inputs">
        <%= f.input :tag_ids, collection: user_tags_collection, label_method: :name, value_method: :id, label: false, wrapper_html: {class: 'col-xs-12'}, input_html: {class: 'select2', multiple: true, "data-placeholder" => t('devise.registrations.edit.tags_placeholder')} %>
      </div>


      <div class="form-inputs col-xs-12">
        <%= f.input :nl_subscription, label: t('devise.registrations.edit.nl_subscription_message'), required: false, wrapper_html: { class: 'xs-sz' } %>
        <%= f.input :accepts_tos, label: t('devise.registrations.edit.tos_agreement_message'), required: true, wrapper_html: { class: 'xs-sz' } %>
      </div>
      <div class="form-actions col-xs-12">
        <%= f.button :submit, t("devise.registrations.edit.submit"), id: 'btn-user-update', class: 'btn-success' %>
      </div>
    <% end %>

    <!-- <h3><%#= t("devise.registrations.edit.cancel_my_account") %></h3> -->

  </div>
</div>
