<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand", id: 'btn-back-home' do %>
    <%= image_tag "logo_beta.svg", class: 'img-responsive',  alt: 'logo get a lead' %>
  <% end %>

  <!-- Right Navigation -->

    <% if user_signed_in? %>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <!-- Links when logged in -->
        <% if current_user.state == 'registered' %>
          <%= link_to t("pages.home.create_lead", default: "New Lead"), "#{create_lead_steps_path}/description", class: "btn btn-success", id: 'btn-lead-new-navbar' %>
        <% end %>
        <% if current_user.admin %>
          <%= link_to t(".admin", default: "Admin"), admin_root_path, class: "btn btn-info" %>
        <% end %>
        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">

            <% avatar_url = current_user.picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to set_profile_path, id: 'btn-user-edit-navbar' do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, id: 'btn-user-destroy-session-navbar' do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if current_user.state == 'registered' %>
              <li><%= link_to t(".new_lead", default: "New Lead"), "#{create_lead_steps_path}/description", id: 'btn-lead-new-navbar-mobile' %></li>
            <% end %>
            <% if current_user.admin %>
              <li><%= link_to t(".admin", default: "Admin"), admin_root_path %></li>
            <% end %>
            <li><%= link_to t(".profile", default: "Profile"), set_profile_path, id: 'btn-user-edit-navbar-mobile' %></li>
            <li><%= link_to t(".logout", default: "Logout"), destroy_user_session_path, method: :delete, id: 'btn-user-edit-navbar-mobile' %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="navbar-wagon-right">
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "", id: 'btn-user-create-session-navbar'  %>
      </div>
    <% end %>
</div>

