
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
  <div class="card-wrapper">
   <!--  <h3 class='card-title text-center'><%#= t('.congrats_title', default: "Congrats your deal is under review!") %></h3> -->
      <div class="lead-card no-title">
          <div class="card-block col-xs-12">
            <div id="price">
              <span>50€</span>
            </div>
            <h2 class='card-sub-titles red-text col-xs-12'><%= t('.infos_title') %></h2>
            <div id="description" class="col-xs-12">
              <!-- <blockquote> -->
                <%= simple_format @lead.description %>
              <!-- </blockquote> -->
            </div>
            <p id='creds'>
              <% if current_user.admin %>
                <%= t('.author') %> : <%= @lead.user.full_name %>,
              <% else %>
                <!-- <%#= t('.powered_by') %> :  -->
                <%= image_tag 'logo_beta.svg', class: 'img-responsive', alt: 'logo get a lead', id: 'logo', width: '80'%>
              <% end %>
              <%= t('.created_at') %> <%= l(@lead.created_at, format: :short) %>
            </p>
          </div>




          <div class="card-footer">
            <ul class='list-unstyled'>
              <li class='blured'>
                <i class="fa fa-briefcase" aria-hidden="true"></i> <%= @lead.company %>
              </li>
              <li>
                <i class="fa fa-users" aria-hidden="true"></i> <%= @lead.company_size %>
              </li>
            </ul>
            <ul class='list-unstyled'>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @lead.location %>
              </li>
              <li>
                <i class="fa fa-hourglass-half" aria-hidden="true"></i> <%= t("lead.WITHIN.#{@lead.within}") %>
              </li>
            </ul>
            <ul class='list-unstyled'>
              <li class='blured'>
                <i class="fa fa-address-card" aria-hidden="true"></i> <%= @lead.contact_fullname %>
              </li>
              <li class='blured'>
                <i class="fa fa-envelope" aria-hidden="true"></i> <%= @lead.mail %>
              </li>
              <li>
                <i class="fa fa-briefcase" aria-hidden="true"></i> <%= @lead.job_title %>
              </li>
              <!-- <li>
                <i class="fa fa-phone" aria-hidden="true"></i> <%#= format_phone(@lead.phone) %>
              </li> -->
            </ul>
          </div>

       </div>

      <!-- <div id="tags" class="col-xs-12">
        <ul class="tag_list list-inline">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <%# @lead.tag_list.each do |k| %>
            <li class='tags'><%#= k %></li>
          <%# end %>
        </ul>
      </div>
    </div> -->
      </div>
  </div>
</div>
