<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <title>Get a Lead</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= render 'shared/google_tag_manager_script' %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  
  <script>
   window.intercomSettings = {
     app_id: "jt5z3vyk",
     name: 'Stan le boloss',
     email: 'Stan@boloss.com'
   };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/jt5z3vyk';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  <body>
    <%= render 'shared/google_tag_manager_body' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class='my-container'>
      <%= yield %>
     </div>
    <div class="oblique-wrapper">
      <div class="oblique-bg"></div>
    </div>
    <!-- <footer></footer> -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
